Name - Shalinee
Date - 07.08.25

###### Q.1 Print a triangle like one below

In [ ]:
*
**
***
****
*****

In [5]:
for i in range(5):
    for j in range(i+1):
        print("*", end='')
    print('\n')

*

**

***

****

*****

###### Q2. Write a program that prints result of following expression.

In [ ]:
123 - 282
----------
47.34 + 23

In [14]:
a = 123
b = 282
c = 47.34
d = 23
print(a, '-', b, '=', a-b)
print('------------------')
print(c, '+', d, '=', c+d)

123 - 282 = -159
------------------
47.34 + 23 = 70.34

###### Q3. Ask the user to enter the number and then print its squares and cubes.

In [16]:
user_input = int(input("Enter the number:"))
sq_num = pow(user_input,2)
cube_num = pow(user_input,3)

print("square of the input number:", sq_num)
print("cube of the input number:", cube_num)

Enter the number: 2

square of the input number: 4
cube of the input number: 8

###### Q4. Write a program that asks user to input three numbers with separate input statements. Use the variable named total to store the sum of those numbers and avg to store the average of those numbers. Then output the numbers along with the total and average.

In [21]:
number_1 = int(input("Enter the 1st number:"))
number_2 = int(input("Enter the 2nd number:"))
number_3 = int(input("Enter the 3rd number:"))

total = number_1+number_2+number_3
avg_num = total/3

print("Sum of all the numbers:", total)
print("Average of all the numbers:", avg_num)

Enter the 1st number: 2
Enter the 2nd number: 4
Enter the 3rd number: 6

Sum of all the numbers: 12
Average of all the numbers: 4.0

###### Q5. Create a salary estimator. Ask user for the basic salary, using it compute HRA as 10% of basic salary, add conveyance allowance as Rs 3500 to it. Output all the salary components on the console.

In [25]:
basic_sal = int(input("Basic salary:"))
HRA = 0.1 * basic_sal
conveyance_allowance = 3500
Total_salary = basic_sal+HRA+conveyance_allowance

print("HRA:", HRA)
print("conveyance_allowance:", conveyance_allowance)
print("Total salary of the Employee:", Total_salary)

Basic salary: 95000

HRA: 9500.0
conveyance_allowance: 3500
Total salary of the Employee: 108000.0

###### Q6. Explore the contents of math module. Try using following functions from it 
    exp 
    floor
    ceil
    log 
    factorial

In [35]:
import math
print("exp of 2:", math.exp(2))
print("floor of 3.9:", math.floor(3.9))
print("ceil of 2.1:", math.ceil(2.1))
print("log of 10:", math.log(10))
print("factorial of 5:", math.factorial(5))

exp of 2: 7.38905609893065
floor of 3.9: 3
ceil of 2.1: 3
log of 10: 2.302585092994046
factorial of 5: 120

###### Q7. Explore the way to generate the random numbers using the random module by setting different seed values.

In [42]:
import random 
random.seed(1)
print("The random number between 1 to 10:", random.randint(1,10))

The random number between 1 to 10: 3

###### Q8. What will be type of expression ( 5 + 4.5 - 3)

###### float

###### Q9. Use type() function to check type of 'one', '1 or 2', '1.4' and '1/2'

In [26]:
type('one')

str

In [27]:
type(1 or 2)

int

In [28]:
type(1.4)

float

In [29]:
type(1/2)

float

###### Q10. Compute the simple interest using the formula interest = p * n * r / 100 where p is principal, n is tenure of loan, and r is rate of interest. Accept p, n, r from users and then perform the interest calculation.

In [44]:
p = int(input("Enter principal amount:"))
n = int(input("Enter tenure of loan:"))
r = int(input("Enter the ROI:"))

SI = p*n*r/100

print("Simple interest:", SI)

Enter principal amount: 100
Enter tenure of loan: 3
Enter the ROI: 30

Simple interest: 90.0

###### Q11. Write a program that asks user weight in kilogram and converts into pounds. There are 2.2 pound in one kilogram.

In [46]:
ask_user = int(input("Enter the weight in Kilogram :"))
weight_in_pound = ask_user*2.2

print("Weight in pound:", weight_in_pound)

Enter the weight in Kilogram : 50

Weight in pound: 110.00000000000001

###### Q12. If a four digit number is entered through keyboard by user. Write a program to calculate the sum of its digits.

In [45]:
try:
    num = int(input("Enter a four-digit number"))
    if 1000 <= num <= 9999:
        unit_place_num = num%10
        tens_place_num = (num//10)%10
        hundreds_place_num = (num//100)%10
        thousands_place_num = num//1000
        
        sum_num = unit_place_num+tens_place_num+hundreds_place_num+thousands_place_num
        print(f"unit_place_num: {unit_place_num}\n" f"tens_place_num: {tens_place_num}\n" f"hundreds_place_num: {hundreds_place_num}\n" f"thousands_place_num: {thousands_place_num}")
        print("Sum of the four digit number,taken in input: ", sum_num)
    else:
        print("Invalid input! Enter any four-digit number only.")
except ValueError:
    print("Invalid input! Data type doesn't match. Please enter any four digit positive number")

Enter a four-digit number 2347

unit_place_num: 7
tens_place_num: 4
hundreds_place_num: 3
thousands_place_num: 2
Sum of the four digit number,taken in input:  16

###### Q13. How to check the minimum and maximum element in the list, without using built-in functions?

In [108]:
user_input = input("Enter the elements of the list(comma-separated): ")
user_list = [int(x) for x in user_input.split(",")]

user_list.sort()
max_list = user_list[0]
min_list = user_list[0]
for i in user_list:
    if i >= max_list:
        max_list = i  
    else:
        i<= min_list
        min_list = i        
print(max_list)
print(min_list)

Enter the elements of the list(comma-separated):  1,2,3,4,12,34,2

34
1

###### Q14. How to check the index of minimum and maximum element in the list, without using built-in functions?

In [111]:
input_list = input("Enter the elements of the list(comma-separateed): ")
user_list = [int(x) for x in input_list.split(",")]

min_index = 0
max_index = 0

for i in range(len(user_list)):
    if min_index <= i:
        min_index = i
    else:
        max_index >= i
        max_index = i
print(f"Index of the minimum value in the list: {min_index}")
print(f"Index of the maximum value in the list: {max_index}")

Enter the elements of the list(comma-separateed):  1,36,12,56,11,21,88,8,51

Index of the minimum value in the list: 8
Index of the maximum value in the list: 0

###### Q15. How to check the minimum and maximum element and their index in the list, without using built-in functions?

In [110]:
input_list = input("Enter the elements of the list(comma-separateed): ")
user_list = [int(x) for x in input_list.split(",")]

min_val = user_list[0]
max_val = user_list[0]
min_index = 0
max_index = 0

for i in range(len(user_list)):
    if min_val <= user_list[i]:
        min_val = user_list[i]
        min_index = i
    else:
        max_val >= user_list[i]
        max_val = user_list[i]
        max_index = i
print(f"Minimum value in the list: {min_val} and it's index: {min_index}")
print(f"maximum value in the list: {max_val} and it's index: {max_index}")

Enter the elements of the list(comma-separateed):  1,36,12,56,11,21,88,8,51

Minimum value in the list: 88 and it's index: 6
maximum value in the list: 51 and it's index: 8