#####                                                                                                             Name - Shalinee 
#####                                                                                                             Date - 05.07.25

## 1. Understanding Variables

#### a. Define a variable in Python. Provide an example of how to create a variable that stores your name.

##### Ans - Variable - It is defined to contain or store data. It is case-sensitive.

In [1]:
name = 'Shalinee'

#### b. What is the difference between a variable and a constant? Can we have constants in Python?

###### Variable are those, what we assign to store data., It is mutable. It is defined when we need to change the literals.
###### Constants are fixed, immutable. It is used, when there is a fixed value.
###### No, there's no constant in Python.

## 2. Working with Different Data Types

#### a. Create variables of the following types in Python:

##### 1. Integer

In [20]:
x = 51

##### 2. Float

In [22]:
y = 51.5

##### 3. String

In [14]:
weather = "Today, it's really a good weather"

##### 4. Boolean

In [17]:
a = True

#### b. Write a Python script to display the type of each variable you created.

In [24]:
type(x)

int

In [25]:
type(y)

float

In [26]:
type(weather)

str

In [27]:
type(a)

bool

## 3. Arithmetic Operators

#### a. Explain the following arithmetic operators with examples:

In [53]:
a = 15    ## Defining two variable to assign the data for performing arithmetic operation
b = 5

##### 1. Addition (`+`)

In [51]:
a+b ## Will add two or more value

20

##### 2. Subtraction (`-`)

In [52]:
a-b ## To give the difference between two values

10

##### 3. Multiplication (``)

In [54]:
a*b ## To give the product of two or more values

75

##### 4. Division (`/`)

In [55]:
a/b  ## To divide one value by another

3.0

##### 5. Floor Division (`//`)

In [56]:
a//b ## To get the Quotient

3

##### 6. Modulus (`%`)

In [57]:
a % b ## To get the remainder

0

##### 7. Exponentiation (``)

In [58]:
a**b ## To get the result as  base to the power

759375

#### b. Write a Python script to calculate the area of a rectangle using variables `length` and `width` with values 5 and 10, respectively. Use the multiplication operator.

In [50]:
length = 5
width = 10
area_of_rectangle = 2*(length*width)
area_of_rectangle

100

## 4. Comparison and Logical Operators

#### a. Explain the following comparison operators with examples:

In [63]:
a = 10     ## Defining two variable to assign the data for performing arithmetic operation
b = 9

##### 1. Equal to (`==`)

In [65]:
a == b ## will compare both variable/value and give result true, if both are equal else false

False

##### 2. Not equal to (`!=`)

In [67]:
a != b ## Not equal to operator is used to check if both value are not equal

True

##### 3. Greater than (`>`)

In [68]:
a > b ## To check if any variable/value is greater than the other or not

True

##### 4. Less than (`<`)

In [69]:
a < b ## To check if any variable/value is less than the other or not

False

##### 5. Greater than or equal to (`>=`)

In [70]:
a >= b ## To check if any variable/value is greater than or equal to than the other

True

##### 6. Less than or equal to (`<=`)

In [71]:
a <= b ## To check if any variable/value is less than or equal to than the other

False

## 5. Type Casting in Python

#### a. What is type casting? Explain the difference between implicit and explicit type casting with examples.

##### Ans - Type casting is the process to convert one data type into another. There are two types of type casting -
#####       1. Implicit - Automatically it converts the datatype without any external intervention
#####       2. Explicit - It requires manual way to type cast using datatype as keyword

In [13]:
a = 10       
b = 5.5

In [14]:
a+b          ## Example of Implicit Type casting

15.5

In [15]:
a+int(b)    ## Example of Explicit typecasting

15

##### b. Write a Python script that: 
##### 1. Converts a float to an integer. 
##### 2. Converts an integer to a string. 
##### 3. Converts a string to a float.

In [18]:
A = 22.5
int(A)          ## Converting a float to an integer

22

In [20]:
B = 22
str(B)          ## Converting an integer to a string.

'22'

##### Ans - String to float cannot be converted    ## Converts a string to a float.

## 6. Practical Exercise: Mini Calculator  
### Write a Python script that asks the user to input two numbers and then:

##### 1. Adds the two numbers and prints the result. 
##### 2. Subtracts the second number from the first and prints the result. 
##### 3. Multiplies the two numbers and prints the result. 
##### 4. Divides the first number by the second and prints the result (handle division by zero).

In [20]:
number_1 = int(input("Enter the number : "))
number_2 = int(input("Enter the number : "))
print("Sum of number_1 & number_2 : ", number_1+number_2)
print("Diff of number_1 from number_2 : ", number_1-number_2)
print("Product of number_1 & number_2 : ", number_1*number_2)
print("Division of number_1 by number_2 : ", number_1/number_2)

Enter the number :  12
Enter the number :  6

Sum of number_1 & number_2 :  18
Diff of number_1 from number_2 :  6
Product of number_1 & number_2 :  72
Division of number_1 by number_2 :  2.0

##### 5. Converts the sum of the numbers to a string and prints the type of the result.

In [23]:
number_1 = int(input("Enter the number : "))
number_2 = int(input("Enter the number : "))
sum_num = number_1+number_2
sum_num
type(str(sum_num))

Enter the number :  12
Enter the number :  6

str